@use 'palatte' as *;

@mixin card {
  border-width: 1px;
  border-style: solid;
  border-color: darken($ercuWhite, 10%);
  border-radius: 8px;
  box-shadow: 0 0 12px -2px $opaqueBlack;
  overflow: hidden;
}