$ercuWhite: #f8f6ee;
$black1: #141124;
$black2: #000000;
$brandPrimary: #003E78;
$brandPrimary10: #BEE0FF;
$brandPrimary20: #7DC0FF;
$brandPrimary30: #3CA1FF;
$brandPrimary40: #0081FA;
$brandPrimary50: #0060B9;
$brandPrimary70: #003260;
$brandPrimary80: #002548;
$brandSecondary: #0F94DF;
$brandSecondary10: #D5EEFC;
$brandSecondary20: #AADDF9;
$brandSecondary30: #80CCF6;
$brandSecondary40: #55BAF4;
$brandSecondary50: #2BA9F1;
$brandSecondary70: #0C76B2;
$brandSecondary80: #095986;
$brandSecondary90: #063B59;
$brandSecondary100: #031E2D;
$brandLightBlue: #D5EEFC;
$brandOrange: #FFC25D;
$brandHighlight70: #FFA817;
$brandYellowHighlight: #FFF5E4;
$tileGrey: #EDEFF0;
$ultraGrey: #F9FAFA;
$gray100: #212529;
$gray90: #394047;
$gray80: #525C65;
$gray70: #6A7884;
$gray60: #87939E;
$gray50: #99A3AD;
$gray40: #ABB3BB;
$gray30: #BDC4CA;
$gray20: #CFD4D8;
$gray10: #E1E4E7;
$opaqueBlack: #BDBDBD;
$positiveGreen: #2AC179;
$systemGrey: #8E8E93;
$subText: #656565;
$legalGrey: #B5B5B5;
$neutralGrey: #E5E5E5;
$reject: #FF6359;
$accept: #8AD879;
$brandHighlight: #0F94DF;
$systemDefaultBlue: #007AFF;
$circleGray: #D9D9D9;
$darkBlue: #003E78;
$brandHighlightDark: #001930;
$lightBlue: #BEE0FF;
$negativeRed: #F76969;